# Exclude build directories
build/
*.o
*.elf
*.bin
*.map

# Exclude sdkconfig backups
sdkconfig.old

# Exclude IDE settings
.vscode/
.idea/

# Exclude build dirs
build

# Exclude log files
*.log

# Exclude Python bytecode and virtual environments
*.pyc
__pycache__/
env/
.venv/

# Exclude ESP-IDF specific directories
.espressif/

# Exclude containers
./.devcontainer/



